# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/vagrant_shared/*
/cookbooks/*

# Ignore Byebug command history file.
.byebug_history

/public/assets